doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.hero
            .container.hero__container
                .row.hero__row
                    .col-12.col-sm-12.col-md-12.col-lg-8.col-xl-8.hero__col
                        .hero__swiper
                            .hero__swiper-wrap
                                .swiper-wrapper.hero__swiper-wrapper

                                    .swiper-slide.hero__swiper-slide.post__image-container(data-slide="0")
                                        .hero__content
                                            .hero__title Lorem ipsum dolor sit amet dolor sit amet
                                            .hero__btn
                                                a.btn.btn-white(href="#") Zobrazit nabídku #[span.btn__icon.arrow-icon.right]

                                        .hero__image
                                            img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/news-archive-thumb-large.jpg")
                                            .swiper-lazy-preloader.swiper-lazy-preloader-white


                                    .swiper-slide.hero__swiper-slide.post__image-container(data-slide="1")
                                        .hero__content
                                            .hero__title Lorem ipsum dolor sit amet dolor sit amet
                                            .hero__btn
                                                a.btn.btn-white(href="#") Zobrazit nabídku #[span.btn__icon.arrow-icon.right]

                                        .hero__image
                                            img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/news-archive-thumb-large.jpg")
                                            .swiper-lazy-preloader.swiper-lazy-preloader-white


                                    .swiper-slide.hero__swiper-slide.post__image-container(data-slide="2")
                                        .hero__content
                                            .hero__title Lorem ipsum dolor sit amet dolor sit amet
                                            .hero__btn
                                                a.btn.btn-white(href="#") Zobrazit nabídku #[span.btn__icon.arrow-icon.right]

                                        .hero__image
                                            img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/news-archive-thumb-large.jpg")
                                            .swiper-lazy-preloader.swiper-lazy-preloader-white


                                    .swiper-slide.hero__swiper-slide.post__image-container(data-slide="3")
                                        .hero__content
                                            .hero__title Lorem ipsum dolor sit amet dolor sit amet
                                            .hero__btn
                                                a.btn.btn-white(href="#") Zobrazit nabídku #[span.btn__icon.arrow-icon.right]

                                        .hero__image
                                            img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/news-archive-thumb-large.jpg")
                                            .swiper-lazy-preloader.swiper-lazy-preloader-white


                                .swiper-pagination.swiper-pagination-white.swiper-pagination--hero
                            .swiper-button-prev.swiper-button-prev--hero
                            .swiper-button-next.swiper-button-next--hero 



                    .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4.hero__col

                        a.hero__single(href="#")
                            .hero__single-wrap.post__image-container
                                img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/page-contact-thumb-large.jpg")

                        a.hero__single(href="#")
                            .hero__single-wrap.post__image-container
                                img.swiper-lazy.hero__img.post__featured-image(src=URLbase+"img/user-thumb-large.jpg")


        section.benefits
            .container.benefits__container
                .benefits__wrap
                    .benefits__single
                        .benefits__img-wrap
                            img.benefits__img(src=URLbase+"images/benefits-delivery.svg")
                        p.benefits__text Široký sortiment léků

                    .benefits__single
                        .benefits__img-wrap
                            img.benefits__img(src=URLbase+"images/benefits-stock.svg")
                        p.benefits__text Zákaznícka karta

                    .benefits__single
                        .benefits__img-wrap
                            img.benefits__img(src=URLbase+"images/benefits-gift.svg")
                        p.benefits__text Odborné poradenství

                    .benefits__single
                        .benefits__img-wrap
                            img.benefits__img(src=URLbase+"images/benefits-marker.svg")
                        p.benefits__text Garance spokojenosti


        include _index-categories.pug

        section.index-products
            .container  
                .filter-sort
                    ul.nav.nav-tabs
                        li.nav-item
                            a.nav-link.active(id="1-index-tab" data-toggle="tab" href="#1-index" role="tab" aria-controls="1-index" aria-selected="true") Akční nabídka
                        li.nav-item
                            a.nav-link(id="2-index-tab" data-toggle="tab" href="#2-index" role="tab" aria-controls="2-index" aria-selected="false") Doporučené
                        li.nav-item
                            a.nav-link(id="3-index-tab" data-toggle="tab" href="#3-index" role="tab" aria-controls="3-index" aria-selected="false") Novinky
                        li.nav-item
                            a.nav-link(id="4-index-tab" data-toggle="tab" href="#4-index" role="tab" aria-controls="4-index" aria-selected="false") Nejprodávanější

                .tab-content
                    .tab-pane.fade.show.active(id="1-index" role="tabpanel" aria-labelledby="1-index-tab")            
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="2-index" role="tabpanel" aria-labelledby="2-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="3-index" role="tabpanel" aria-labelledby="3-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="4-index" role="tabpanel" aria-labelledby="4-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

        section.logos
            .container.logos__container
                .logos__swiper  
                    .logos__swiper-wrap
                        .swiper-wrapper
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.logos__swiper-slide
                                img.swiper-lazy(data-src=URLbase+"img/logos/cemio.jpg")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white

                    .swiper-button-prev.swiper-button-prev--logos
                    .swiper-button-next.swiper-button-next--logos

        include _news-section.pug

        section.index-cta
            .container
                .index-cta__wrap

                    img.index-cta__img(src=URLbase+"img/index-cta.jpg")

                    .index-cta__content

                        h4.index-cta__title Síť lékáren

                        .index-cta__col
                            .index-cta__single
                                p.index-cta__text Hlučín (Lékárna u Hradeb) 
                                a.index-cta__link(href="#") www.lekarnauhradeb.cz
                            .index-cta__single
                                p.index-cta__text Hlučín (Lékárna Rovniny)
                                a.index-cta__link(href="#") www.lekarna-rovniny.cz
                            .index-cta__single
                                p.index-cta__text Rýmařov (Lékárna Avion)
                                a.index-cta__link(href="#") www.lekarna-avion.cz

                        .index-cta__col
                            .index-cta__single
                                p.index-cta__text Vrbno pod Pradědem (Lékárna Magnus)
                                a.index-cta__link(href="#") www.lekarna-magnus.cz
                            .index-cta__single
                                p.index-cta__text Český Těšín (Lékárna Silesia)
                                a.index-cta__link(href="#") www.lekarna-tesin.cz
   
        
        include _footer.pug

        include _js-include.pug

        script.
            var carousel_main = new Swiper('.hero__swiper-wrap', {
            lazy: true,
            spaceBetween: 0,
            grabCursor: true,
            zoom: false,
            loop: true,
            pagination: {
                el: '.swiper-pagination--hero',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next--hero',
                prevEl: '.swiper-button-prev--hero',
            },
            });

            $('#slide1').click(carousel_main,function(){
                carousel_main.slideTo(1);
            })
            $('#slide2').click(carousel_main,function(){
                carousel_main.slideTo(2);
            })
            $('#slide3').click(carousel_main,function(){
                carousel_main.slideTo(3);
            })
            $('#slide4').click(carousel_main,function(){
                carousel_main.slideTo(4);
            })

